:local(.modal) {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .9);
    border-radius: 5px;
    overflow: hidden;
    width: 500px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}