:local(.button) {
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #555;
    color: #222;
    border-radius: 5px;
    font-size: 20px;
    line-height: 20px;
}

:local(.button):not(:disabled) {
    cursor: pointer;
}

:local(.button):disabled {
    border-color: #AAA;
    color: #AAA;
}

:local(.button):focus {
    outline: 0;
}

:local(.button):hover:not(:disabled) {
    background-color: #FFD;
}