:local(.container) {
    height: 40px;
    width: 40px;
    font-size: 24px;
    box-sizing: border-box;
    border: 1px solid #555;
    color: #222;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

:local(.container):hover:not(.disabled) {
    background-color: #FFD;
}

:local(.container).disabled {
    border-color: #AAA;
    color: #AAA;
}

:local(.checkbox) {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

:local(.checkmark) {
    position: absolute;
    display: none;
}

:local(.checkbox):checked ~ :local(.checkmark) {
    display: block;
}