:local(.input) {
    height: 40px;
    padding: 2px 10px;
    font-size: 24px;
    box-sizing: border-box;
    border: 1px solid #555;
    color: #222;
    border-radius: 5px;
}

:local(.input):focus {
    outline: 0;
}

:local(.input):hover:not(:disabled) {
    background-color: #FFD;
}

:local(.input):disabled {
    border-color: #AAA;
    color: #AAA;
}

:local(.input):disabled::placeholder {
    color: #AAA;
}