:local(.inputWithMessage) {
    border-width: 1px;
    border-style: solid;
    border-color: #555;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    overflow: hidden;
    height: 40px;
    transition: height .2s, border-color .2s;
}

:local(.inputWithMessage).has-error {
    border-color: #922;
    height: 65px;
}

:local(.inputWithMessage).disabled {
    border-color: #AAA;
}

:local(.inputWithMessage) :local(.input) {
    border: 0;
    border-radius: 0;
    transition: background-color .2s;
    flex-shrink: 0;
}

:local(.inputWithMessage).has-error :local(.input) {
    background-color: #FDD;
}

:local(.inputWithMessage) :local(.errorMessage) {
    height: 25px;
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 15px;
    background-color: #B44;
    color: #FF1;
}