:local(.navigationButton) {
    height: 40px;
    width: 40px;
    font-size: 30px;
    line-height: 30px;
    border: 0;
    padding: 5px;
    background-color: rgba(255, 255, 221, 0);
    transition: background-color .2s, border-color 1s;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(85,85,85,0);
    color: #222;
}

:local(.navigationButton):disabled {
    color: #AAA;
}

:local(.navigationButton):hover:not(:disabled) {
    background-color: rgba(255, 255, 221, 1);
    border-color: rgba(85,85,85,1);
}

:local(.navigationButton):not(:disabled) {
    cursor: pointer;
}

:local(.navigationButton):focus {
    outline: 0;
}