:local(.textArea) {
    resize: none;
    height: 120px;
    padding: 2px 10px;
    font-size: 24px;
    box-sizing: border-box;
    border: 1px solid #555;
    color: #222;
    border-radius: 5px;
}

:local(.textArea):focus {
    outline: 0;
}

:local(.textArea):hover:not(:disabled) {
    background-color: #FFD;
}

:local(.textArea):disabled {
    border-color: #AAA;
    color: #AAA;
}