:local(.container) {
    display: flex;
    flex-direction: column;
}

:local(.textInput) {
    margin-top: 5px;
}

:local(.button) {
    margin-top: 15px;
}

:local(.label):not(first-child) {
    margin-top: 10px;
}

:local(.checkbox) {
    margin-top: 5px;
}