:local(.container) {
    display: flex;
    flex-direction: column;
}

:local(.label):not(first-child) {
    margin-top: 15px;
}

:local(.valueContainer) {
    font-size: 25px;
    line-height: 25px;
    margin: 0;
    color: #222;
    white-space: pre;
}

:local(.valueContainer).empty {
    color: #AAA;
}

:local(.value) {
    margin-top: 10px;
}