.ide-application-settings {
    width: 0px;
    overflow: hidden;
    flex-shrink: 0;
    transition: width 0.3s ease-in-out;
}

.ide-application-settings.is-open {
    width: 250px;
}

.ide-application-settings-content {
    width: 250px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ide-application-settings .header {
    flex-shrink: 0;
    height: 60px;
    background-color: #555;
    padding: 5px;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
}

.ide-application-settings .header h4 {
    margin: 0;
    color: white;
}