.user-profile .table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.user-profile .table thead th {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.user-profile .table tbody td {
    height: 35px;
}

.user-profile .table tbody tr>td:last-child {
    width: 1px;
}

.user-profile .table tbody td a {
    color: black;
    text-decoration: none;
}

.user-profile .table tbody td a:hover {
    text-decoration: underline;
}

.user-profile .delete-application-button {
    border: 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.user-profile .delete-application-button:hover {
    background-color: #AAA;
}

.user-profile .delete-application-button:focus {
    outline: 0;
}

:local(.sideMenu) {
    position: relative;
}