.accordion-group {
    display: flex;
    flex-direction: column;
}

.accordion-group .accordion-title {
    line-height: 20px;
    height: 30px;
    background-color: #AAA;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.accordion-group .accordion-title h5 {
    margin: 0;
    color: white;
}

.accordion-group .accordion-content {
    overflow: hidden;
    background-color: white;
    flex: 0;
    transition: flex 0.3s ease-in-out;
}

.accordion-group .accordion-content.is-open {
    flex: 1;
}