.actions-bar {
    background-color: #555;
    padding: 5px;
    box-sizing: border-box;
    width: 60px;
}

.actions-bar hr {
    border-color: #777;
}

.actions-bar button {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0;
    background-color: transparent;
    border: 0;
    color: #FAFAFA;
    font-size: 32px;
}

.actions-bar button:focus {
    outline: 0;
}

.actions-bar button:not(:disabled) {
    cursor: pointer;
}

.actions-bar button:not(:disabled):hover {
    background-color: #AAA;
}

.actions-bar button:disabled {
    color: #777;
}

.actions-bar button i {
    position: relative;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
}

.actions-bar button + button {
    margin-top: 5px;
}