@keyframes fadeinandout {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.action-message {
    width: 250px;
    height: 150px;
    background-color: rgba(0,0,0,.7);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,.9);
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeinandout 3s;
    opacity: 0;
}

.action-message .action-message-text {
    font-size: 20px;
    color: white;
}

.action-message i {
    font-size: 40px;
    margin-top: 15px;
}

.action-message.is-danger i {
    color: red;
}

.action-message.is-success i {
    color: green;
}

.action-message.is-warning i {
    color: orange;
}