.console {
    background-color: black;
    overflow: auto;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.console .console-line {
    font-size: 25px;
    margin: 0;
    height: 29px;
}

.console .console-input {
    font-size: 25px; 
    margin: 0; 
    width: 100%; 
    border: 0; 
    padding: 0;
    background-color: transparent;
    color: white;
    cursor: default;
}

.console .console-input:focus {
    outline: 0;
}