.file-preview-container .file-preview-item {
    width: 52.5px;
    height: 52.5px;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 5px;
    float: left;
    overflow: hidden;
    position: relative;
}

.file-preview-container .file-preview-item.untracked {
    background-color: rgba(255,204,222,.5);
}

.file-preview-container .file-preview-item.is-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.file-preview-container .file-preview-item.is-default .file-extension {
    text-align: center;
    line-height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 45px;
    height: 30px;
    border-radius: 5px;
    background-color: #FFD;
    border: 1px solid #AA8;
    font-family: Arial, Helvetica, sans-serif;
    transition: transform .2s;
}


.file-preview-container .file-preview-item.is-default:hover .file-extension {
    transform: scale(.9);
}

.file-preview-container .file-preview-item.is-font .font-preview {
    width: 100%;
    height: 100%;
    line-height: 52.5px;
    text-align: center;
}

.file-preview-container .file-preview-item .overlay {
    line-height: 52.5px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    border-radius: 5px;
}

.file-preview-container .file-preview-item:hover .overlay, 
.file-preview-container .file-preview-item.selected .overlay, 
.file-preview-container .file-preview-item .overlay.is-loading {
    background-color: rgba(100, 100, 100, .5);
}

.file-preview-container .file-preview-item .overlay.is-loading {
    cursor: progress;
}

.file-preview-container .file-preview-item .overlay .loading-indicator {
    color: white;
    display: none;
}

.file-preview-container .file-preview-item .overlay.is-loading .loading-indicator {
    display: inline-block;
}

.file-preview-container .file-preview-item .overlay .status-icon {
    font-size: 10px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    text-shadow: 0px 0px 5px rgba(0,0,0,.9);
}

.file-preview-container .file-preview-item .overlay .status-icon.fa-cloud {
    color: #CDF;
}

.file-preview-container .file-preview-item .overlay .status-icon.fa-code {
    color: #FCD;
}

.file-preview-container .file-preview-item.is-audio .play-button {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(100, 110, 150, .2);
    cursor: pointer;
    border: 0;
}

.file-preview-container .file-preview-item.is-audio .play-button:hover {
    background-color: rgba(100, 110, 150, .6);
}

.file-preview-container .file-preview-item.is-audio .play-button:focus {
    outline: 0;
}