.file-editor-backdrop {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-editor {
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,.9);
    position: relative;
    overflow: hidden;
    background: repeating-linear-gradient(
        45deg,
        #f3f3f3,
        #f3f3f3 10px,
        #fefefe 10px,
        #fefefe 20px
    );
    border-radius: 5px;
    width: 600px;
    height: 480px;
    transition: height .2s;
}

.file-editor.has-error {
    height: 500px;
}

.file-editor .name-error {
    background-color: red;
    color: yellow;
    height: 20px;
    box-sizing: border-box;
    padding: 2px;
    text-align: center;
    font-size: 14px;
}

.file-editor .file-name-wrapper {
    width: 100%;
    height: 80px;
    padding: 20px;
    background-color: white;
    display: flex;
    box-sizing: border-box;
}

.file-editor .file-name-wrapper .application-name-input {
    flex-grow: 1;
}

.file-editor .file-name-wrapper button {
    cursor: pointer;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #555;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 20px;
}

.file-editor .file-name-wrapper button:focus {
    outline: 0;
}

.file-editor .file-name-wrapper button:hover {
    background-color: #FFD;
}

.file-editor .file-editor-preview .close-button {
    right: 10px;
    top: 10px;
}

.file-editor .file-editor-preview .previous-button {
    top: 185px;
    left: 10px;
}

.file-editor .file-editor-preview .next-button {
    top: 185px;
    right: 10px;
}

.file-editor .file-editor-preview:hover .navigation-button {
    opacity: 1;
}

.file-editor .file-editor-preview .navigation-button {
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    padding: 0;
    background-color: transparent;
    border: 0;
    font-size: 30px;
    width: 30px;
    height: 30px;
    color: white;
    cursor: pointer;
}

.file-editor .file-editor-preview .navigation-button:focus {
    outline: 0;
}

.file-editor .file-editor-preview .navigation-button i {
    text-shadow: 0px 0px 10px rgba(0,0,0,0.75);
}

.file-editor .file-editor-preview .navigation-button:hover i {
    text-shadow: 0px 0px 30px rgba(0,0,0,0.9);
}