.files-validator-backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.files-validator {
    width: 600px;
    height: 540px;
    background-color: white;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,.9);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    transition: height .2s;
}

.files-validator.has-error {
    height: 580px;
}

.files-validator>.error-message {
    background-color: red;
    color: yellow;
    width: 100%;
    height: 0px;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    transition: height .2s, padding .2s;
}

.files-validator.has-error>.error-message {
    height: 40px;
    padding: 10px;
}

.files-validator>.validator-body {
    padding: 20px;
}

.files-validator>.validator-body>.validator-actions {
    margin-top: 20px;
    display: flex;
    height: 40px;
}

.files-validator>.validator-body>.validator-actions>.action-button {
    flex: 1;
    flex-shrink: 0;
    box-sizing: border-box;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 20px;
}

.files-validator>.validator-body>.validator-actions>.action-button:not(:disabled) {
    cursor: pointer;
}

.files-validator>.validator-body>.validator-actions>.action-button:disabled {
    border: 1px solid #AAA;
}

.files-validator>.validator-body>.validator-actions>.action-button:not(:first-child) {
    margin-left: 20px;
}

.files-validator>.validator-body>.validator-actions>.action-button:focus {
    outline: 0;
}

.files-validator>.validator-body>.validator-actions>.action-button:hover:not(:disabled) {
    background-color: #FFD;
}