.file-preview {
    position: relative;
    width: 600px;
    height: 400px;
}

.file-preview .image-preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
}

.file-preview .font-preview {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 50px;
    overflow-wrap: break-word;
}

.file-preview .play-button {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    font-size: 130px;
    width: 220px;
    height: 220px;
    border-radius: 110px;
    background-color: rgba(100, 110, 150, .7);
    text-align: center;
    line-height: 220px;
    color: white;
}

.file-preview .play-button:hover {
    background-color: rgba(100, 110, 150, 1);
}

.file-preview .play-button:focus {
    outline: 0;
}

.file-preview .file-extension {
    font-family: "Arial Black", Gadget, sans-serif;
    width: 100%;
    height: 100%;
    background-color: #FFD;
    text-align: center;
    line-height: 400px;
    font-size: 200px;
    transition: font-size .2s;
}

.file-preview .file-extension:hover {
    font-size: 180px;
}