.file-name-input {
    display: flex;
    box-sizing: border-box;
}

.file-name-input>.name-input, .file-name-input>.extension-input {
    height: 40px;
    padding: 2px 10px;
    font-size: 24px;
    color: #222;
    box-sizing: border-box;
    border: 1px solid #555;
    display: inline-block;
}

.file-name-input>.name-input:focus, .file-name-input>.extension-input:focus {
    outline: 0;
}

.file-name-input>.name-input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0;
    flex-grow: 1;
}

.file-name-input>.name-input:hover {
    background-color: #FFD;
}

.file-name-input>.extension-input {
    width: 80px;
    flex-shrink: 0;
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #FFD;
}