body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  overflow: hidden;
  min-height: 100%;
}

html {
  height: 100%;
}

::-webkit-input-placeholder {
  color: #777;
}
::-moz-placeholder { /* Firefox 19+ */
  color:  #777;
}
:-ms-input-placeholder {
  color:  #777;
}
:-moz-placeholder { /* Firefox 18- */
  color:  #777;
}
